/* Reset */
body,
html {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    line-height: 1;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0 0 1rem 0;
    padding: 0;
}

ol,
ul {
    padding-left: 20px;
    line-height: 1.5;
}

img {
    height: auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.6rem;
}

a {
    text-decoration: none
}

body {
    background-image: url('imm/immagine_sfon.jpg');
}


p {
    font-size: 18px;
    line-height: 1.4;
}

/* button */
.button {
    background: #5d6d8f;
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
}

.button:hover {
    background: #f1bc57;
}


/*header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10% 30px 10%;
}

.logo {
    max-width: 250px;
    /* Modifica la larghezza massima dell'immagine secondo le tue preferenze */
    max-height: 250px;
    /* Modifica l'altezza massima dell'immagine secondo le tue preferenze */
}


.pagina1 {
    margin: 0;
    padding: 0;
    background-color: #f1bc57;
    /* Imposta il colore arancione come sfondo */
}


.pagina2 {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 188, 87);
    /* Imposta il colore arancione come sfondo */
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    color: white;
    /* Cambia il colore del testo per una migliore leggibilità */
}

.main-carousel {
    padding: 40px;
}

.main-carousel img {
    max-width: 90%;
    /* Imposta la larghezza massima al 100% */
    height: auto;
    /* Imposta l'altezza in base alla larghezza per mantenere le proporzioni */
    display: block;
    /* Assicura che l'immagine si adatti correttamente */
    margin: 0 auto;
    /* Centra l'immagine all'interno della cella */
}

/*    padding: 10px 5% 10px 5%; */
/* Modifica il valore del padding secondo le tue preferenze */

/* .logo{ margin-right: auto; } */

/* menu */

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    padding: 15px 20px;
    display: block;
    color: #999694;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.social-icons a img {
    width: 30px;
    /* Regola la larghezza dell'immagine */
    height: auto;
    /* Mantiene l'aspetto proporzionato */
    margin-right: 5px;
    /* Aggiunge uno spazio a destra dell'immagine */
    text-align: right;
}

.social-icons a i {
    font-size: 2em;
    color: #333;
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {

    .header {
        padding-left: 20px;
        padding-right: 60px;
        position: relative;
        background: #fff;
    }

    .menu {
        background: #fff;
        position: absolute;
        top: 108px;
        right: -100%;
        width: 100%;
        height: calc(100vh - 80px);
        transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    }

    .menu li {
        width: 100%;
    }


    .open .menu {
        right: 0
    }

    .hamburger {
        display: block;
        height: 25px;
        width: 30px;
        position: absolute;
        top: 40px;
        right: 15px;
        cursor: pointer
    }

    .hamburger span {
        display: block;
        top: 8px;
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #000;
    }

    .hamburger span:nth-child(1) {
        margin-top: 6px;
    }

    .hamburger span:nth-child(2) {
        margin-top: -6px;
    }



}


/* hero */
.hero {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0% 10%;
}

.hero__text {
    width: 80%;
    padding: 0 0;
    color: #646263;
}


.hero__text1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__img {
    width: 40%;
}


@media (max-width: 768px) {

    .hero {
        flex-wrap: wrap;
    }

    .hero__text,
    .hero__img {
        width: 100%;
        margin-bottom: 40px;
    }

}



/* Cover */
.cover {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(7, 69, 47, 0.8) 0%, rgba(7, 69, 47, 0.8) 100%), url(4.jpg) no-repeat center center;
    background-size: cover;
}

.cover__text {
    text-align: center;
    max-width: 1000px;
    padding: 10%;
    color: #fff;
}


/* Card */
.card {
    display: block;
    width: 100%;
    position: relative;
}

.card__text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #FF235D;
    padding: 15px;
    color: #fff
}


/* Footer */

.flexgraund {
    background-color: #646263;
 }

  .flex {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Aggiungi il padding desiderato */
  }
  
  .co1, .co2, .co3 {
    min-width: 100px;
  }
  
  /* Aggiungi una riga sotto i tre elementi */
  .footer::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: white; /* Colore della riga */
    margin-top: 10px; /* Spazio tra la riga e i contenuti */
  }
  





.grid {
    display: flex;
    flex-wrap: wrap;
    color: #999694;
    text-align: left;
}

.gridCentral {
    display: flex;
    padding: 0 10%;
    flex-wrap: wrap;
    text-align: center;
    color: #646263;
}

.text-align{
    text-align: center;
    color: #fff;
}

/* utilities */
.img-res {
    height: auto;
    width: 100%;
}

.text-center {
    text-align: center;
}

.color-1 {
    color: #FF235D
}

.color-2 {
    color: #22C58A
}

.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 30px;
}

.pt-3 {
    padding-top: 60px;
}

.pb-1 {
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 30px;
}

.pb-3 {
    padding-bottom: 60px;
}


.col-25 {
    width: 25%;
    padding: 10% 20px;
}

.col-30 {
    width: 30%;
    padding: 10% 20px;
}

.col-50 {
    width: 50%;
    padding: 10% 20px;
}

.col-40 {
    width: 40%;
    padding: 10% 20px;
}

.col-60 {
    width: 60%;
    padding: 10% 20px;
}

.col-33 {
    width: 33.33%;
    padding: 10% 40px;
}

.col-100 {
    width: 100%;
    padding: 10% 20px;
}




.pagina3 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.media-container {
    position: relative;
    width: 80%; /* Larghezza del container del video o dell'immagine */
    max-width: 800px; /* Larghezza massima del container del video o dell'immagine */
}

.media {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centratura orizzontale */
}



@media (max-width: 768px) {

    .col-25,
    .col-50,
    .col-40,
    .col-60,
    .col-33,
    .col-100 {
        width: 100%;
    }


    .reverse {
        flex-direction: column-reverse;
    }

}